
.nav{
	border:2px solid white;
	position:relative;
	margin:20px 0px 0px 0px;
	left:200px;
	width:80%;
}

nav {
	margin: 1px 1px 1px 1px;
}

nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
	color:white;
	font-size:1.2em;
}
