@font-face {
	font-family: style1;
	src: url("../font-family/style1.ttf");
}

body {
	background-color: #01040b;
	font-size: small;
	margin: 0px;
}

.background{
	background:url("../images/background.jpg") no-repeat;
	background-position:center 0;
	background-size:80%;
	height:1500px;
	
}

.register {
	display: block;
	text-align: center;
	background-color: #000000;
	opacity: 0.7;
	width: 400px;
	height: 440px;
	margin: 0 auto;
}

.form-title {
	font-size: 5em;
	font-family: style1;
	padding: 25px 0px 10px 0px;
	color: white;
}

label {
	position:relative;
	top:5px;
	font-size: 3em;
	color: white;
	font-family: style1;
}

input {
	font-size: 1.4em;
	height: 2.5em;
	border-radius: 4px;
	border: 1px solid #c8cccf;
	color: #6a6f77;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 5px;
}

.btn {
	margin: 10px 20px 0px 20px;
	width: 130px;
	height: 60px;
	font-size: 3em;
	font-family: style1;
	border-radius:6px 
}